.controls-container {
    display: flex;
    justify-content: center;
}

.playing-buttons {
    display: flex;
    justify-content: center;
    gap: var(--spacing);
}

.controls-icon {
    cursor: pointer;
    color: var(--white);
}

.controls-icon.play:hover {
    color: var(--play);
}
.controls-icon.pause:hover {
    color: var(--pause);
}
.controls-icon.stop:hover {
    color: var(--stop);
}

.controls-container .disabled {
    color: var(--disabled);
}
