/*// TODO fix color of UIMenu icons*/
.leaderboard-menu .menu-expand-icon:hover,
.leaderboard-menu.active .menu-expand-icon {
    color: var(--leaderboard);
}

.title {
    margin-bottom: var(--spacing);
}

.index,
.name {
    font-size: 1.25rem;
}

.name {
    font-weight: bold;
    padding-right: var(--spacing);
}

.win,
.loss {
    padding: 0 var(--spacing-sm);
}

.win {
    color: var(--win);
}

.loss {
    color: var(--loss);
}
