.menu-container {
    position: relative;
}
.menu {
    padding: var(--spacing);
    color: var(--text-primary);
    background: var(--white);
    border: 1px solid var(--text-primary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 66vw;
    min-height: 100px;
    max-height: calc(100vh - 95px);
    position: absolute;
    top: 40px;
}
.menu-expand-icon {
    cursor: pointer;
}
.menu-close-icon {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}
