.tooltip,
.tooltip-content::before {
    --caret-size: 0.4rem;
}

.tooltip {
    position: relative;
}
.tooltip .tooltip-content {
    z-index: 2;
    display: none;
    position: absolute;
    white-space: nowrap;
    text-align: center;
    background-color: var(--text-primary);
    color: var(--white);
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-sm);
}
.tooltip.bottom .tooltip-content {
    bottom: calc(-1 * var(--caret-size) - 2px);
    left: 50%;
    transform: translate(-50%, 100%);
}
.tooltip.top .tooltip-content {
    top: calc(-1 * var(--caret-size) - 2px);
    left: 50%;
    transform: translate(-50%, -100%);
}
.tooltip.left .tooltip-content {
    left: calc(-1 * var(--caret-size) - 2px);
    top: 50%;
    transform: translate(-100%, -50%);
}
.tooltip.right .tooltip-content {
    right: calc(-1 * var(--caret-size) - 2px);
    top: 50%;
    transform: translate(100%, -50%);
}

.tooltip .tooltip-content::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
}
.tooltip.bottom .tooltip-content::before {
    top: calc(-1 * var(--caret-size));
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 var(--caret-size) var(--caret-size);
    border-bottom-color: var(--text-primary);
}
.tooltip.top .tooltip-content::before {
    bottom: calc(-1 * var(--caret-size));
    left: 50%;
    transform: translateX(-50%);
    border-width: var(--caret-size) var(--caret-size) 0;
    border-top-color: var(--text-primary);
}
.tooltip.left .tooltip-content::before {
    right: calc(-1 * var(--caret-size));
    top: 50%;
    transform: translateY(-50%);
    border-width: var(--caret-size) 0 var(--caret-size) var(--caret-size);
    border-left-color: var(--text-primary);
}
.tooltip.right .tooltip-content::before {
    left: calc(-1 * var(--caret-size));
    top: 50%;
    transform: translateY(-50%);
    border-width: var(--caret-size) var(--caret-size) var(--caret-size) 0;
    border-right-color: var(--text-primary);
}

.tooltip:hover .tooltip-content {
    display: inline-block;
}
.tooltip:hover.disabled .tooltip-content {
    display: none;
}
