@import "md-color-palette.css";

:root {
    --box-shadow-1: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    --box-shadow-2: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    --box-shadow-3: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --box-shadow-4: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    --box-shadow-5: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --box-shadow-6: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --box-shadow-7: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

/* DESIGN SYSTEM VARIABLES */
:root {
    --white: rgb(255, 255, 255);
    --primary-light: var(--material-color-indigo-a200); /* color: black */
    --primary: var(--material-color-indigo-a400); /* color: white */
    --primary-dark: var(--material-color-indigo-a700); /* color: white */
    --secondary-light: var(--material-color-grey-600);
    --secondary: var(--material-color-grey-700);
    --secondary-dark: var(--material-color-grey-800);
    --text-primary: var(--material-color-blue-grey-900);
    --background: var(--material-color-blue-grey-50);
    --play: var(--material-color-green-a400);
    --pause: var(--material-color-green-a400);
    --stop: var(--material-color-red-a400);
    --leaderboard: var(--material-color-amber-a400);
    --configuration: var(--material-color-deep-purple-a400);
    --panel-border: var(--material-color-grey-400);
    --error: var(--material-color-red);
    --disabled: var(--material-color-grey-400);
    --win: var(--material-color-green-500);
    --loss: var(--material-color-red-700);

    --spacing-sm: 0.75rem;
    --spacing: 1rem;
    --spacing-lg: 1.25rem;

    --border-radius-sm: 0.25rem;
    --border-radius: 0.5rem;
    --border-radius-lg: 0.75rem;

    --box-shadow-sm: var(--box-shadow-2);
    --box-shadow: var(--box-shadow-4);
    --box-shadow-lg: var(--box-shadow-6);
}
